<!DOCTYPE html>

<html>

<head>
	<title> Home </title>

	<link rel="stylesheet" href="static/site.css">

	<script src="static/chatroom.js"></script>
</head>

<body>
	<div id="overlay">
		<div class="overlay-box dark-t">
			<p>You are sending messages too fast</p>
			<button id="overlay-ok" class="dark-button"> Ok </button>
		</div>
	</div>

	<div class="server-info dark-t"> Clanpenguin </div>

	<div class="channel-info dark-t"> wstest </div>


	<div class="sidebar dark-s"> </div>

	<div class="info dark-t">
		<input autocomplete="off" placeholder="name" maxlength="20"id="name" class="dark-input">
	</div>


	<div id="chat" class="dark-p"> </div>

	<div class="text-container dark-p">
		<input id="text" autocomplete="off" class="dark-input" maxlength="100">

		<button id="submit" class="dark-button" style="font-size: 20px; font-weight:bold;"> › </button>
	</div>
</body>

</html>